*{
    margin: 0;
    padding: 0;
}

*{
    font-weight: 300;
}

body{
    background-color: #fff;
    padding-top: 70px;
    font-family: monospace;
    font-size: 19px;
}

#nitinfolio{
    text-decoration: none;
    color: #000;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    width: 100%;
    background-color: hsl(198, 93%, 40%);
    color: #000;
    z-index: 1000;
}

.right{
    margin: 15px;
}

.right svg{
    display: none;
}

.left{
    margin: 15px;
}

.nav-items{
    text-decoration: none;
    padding: 15px;
    color: #000;
}

.nav-items:hover{
    color: hsl(198, 93%, 80%);
}

#home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px; 
}

#home h2{
    color: #000;
    font-weight: 600;
}

.leftSection{
    width: 50%;
    text-align: center;

}

#projects {
    text-align: center;
    margin-bottom: 50px;
    padding: 50px; /* Add padding to separate from other sections */
}


#all-projects{
    display: flex;
    justify-content: space-around;
}

#all-projects p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}

#topic-project{
    font-family: nato 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;

}

#p1, #p2, #p3 {
    flex: 0 0 30%; 
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    text-align: center;
    background-color: hsl(205, 54%, 70%);
}

#p1 img, #p2 img, #p3 img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#contact-btn{
    color: white;
    background-color: hsl(205, 54%, 48%);
    font-size: large;
    padding: 7px;
    margin-top: 10px;
    border-radius: 7px;
    border: none;
}

#contact-btn:hover{
    background-color: hsl(205, 54%, 53%);
}

.skill-svgs{
    height: 50px;
    width: 50px;
    margin-top: 10px;
}

#pp{
    height: 350px;
    width: 350px;
    border-radius: 50%;
}

#contact-me{
    margin-bottom: 50px;
}

#contact-me h2{
    margin-top: 30px;
    text-align: center;
}

#contact-details{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#contact-items{
    margin: auto;
}

#contact-items img{
    height: 25px;
    width: 25px;

}

#email, #phone{
    display: flex;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
}

#email *, #phone *{
    padding-left: 5px;
    padding-right: 5px;
}

#contact-inputs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
}

#input-name{
    width: 75%;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: medium;
}

#input-email{
    width: 75%;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: medium;
}

#email-para{
    text-decoration: none;
    color: #000;
}

#input-subject{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 88% ;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: medium;
}

#input-message{
    grid-column-start: 1;
    grid-column-end: 3;
    width: 88%;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: medium;
}

#input-btn{
    width: 50%;
    padding: 7px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    font-size: medium;
    background-color: hsl(205, 54%, 48%);
    color: white;
    border: none;
}

#input-btn:hover{
    background-color: hsl(205, 54%, 53%);
}

#services{
    margin-top: 50px;
    text-align: center;
}

#all-services{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#web-dev{
    width: 80vw;
}

#web-dev label{
    color: #000;
    float: left;
    text-shadow: 0 2px 4px rgba(0,0,0,.2);
    cursor: pointer;
}

#web-dev img{
    width: 80vw;
    border-radius: 5px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: center;
}

#about-para{
    display: flex;
    justify-content: space-;
    margin-bottom: 50px;
}

#about-me{
    text-align: center;
    width: 25%;
    height: 30vh;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

#interest{
    width: 25%;
    height: 30vh;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 5px;
    margin: 20px;
}

#about-me h2, #interest h2{
    margin-bottom: 20px;
}

#mobile-menu-btn img{
    height: 32px;
    width: 32px;
    border-radius: 6px;
}

@media only screen and (max-width: 750px) {
    .right {
        position: relative;
    }

    .right svg{
        display: block;
    }

    .nav-links {
        display: none;
        position: absolute;
        top: 60px; /* Adjust the top position based on your design */
        right: 0;
        background-color: hsl(198, 93%, 40%);
        border-radius: 7px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-links a {
        display: block;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        color: white;
    }
}

@media only screen and (max-width: 500px) {
    /* Home Section responsiveness  */
    #home {
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
    }

    .leftSection {
        width: 70vw;
    }

    #pp {
        margin-top: -40px;
        height: 250px;
        width: 250px;
        margin-bottom: 40px;
    }

    #contact-btn{
        margin-top: 30px;
    }

    /* About section responsiveness */

    #about-me, #interest {
        max-width: 800px; /* Set the desired maximum width for the container */
        margin: 0 auto; /* Center the container horizontally */
        padding: 20px; /* Add padding for better readability */
    }

    #about-para {
        justify-content: space-evenly;
    }

    #about-me,
    #interest {
        width: 30%;
        height: 30vh;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
        padding: 20px;
        border-radius: 5px;
        margin: 20px;
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    #about-me h2,
    #interest h2 {
        margin-bottom: 20px;
    }

    #skills p{
        display: flex;
    }

    #services {
        margin-top: 50px;
        text-align: center;
    }
    
    #all-services {
        display: flex;
        margin-top: 30px;
    }
    
    #web-dev {
        width: 80vw;
    }
    
    #web-dev label {
        color: #000;
        float: left;
        text-shadow: 0 2px 4px rgba(0, 0, 0, .2);
        cursor: pointer;
        text-decoration: none; /* Add this line to remove the underline */
    }
    
    
    #web-dev img {
        width: 100%; /* Make the image take up 100% of the container width */
        border-radius: 5px;
    }   
    
    #all-projects{
        display: flex;
        flex-direction: column;
    }

    #p1, #p2, #p3{
        margin-bottom: 20px;
    }

    #contact-me h2{
        margin-top: 30px;
        text-align: center;
    }

    #contact-details{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }

    #contact-items {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    #contact-inputs{
        display: flex;
        flex-direction: column;
    }

    #input-name, #input-email{
        width: 35%;
    }
    
}