*{
    margin: 0;
    padding: 0;
}

nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    width: 100%;
}

.right{
    margin: 15px;
}

.left{
    margin: 15px;
}

.nav-items{
    text-decoration: none;
    color: black;
    padding: 20px;
}